@import url('https://fonts.googleapis.com/css2?family=Monoton&family=VT323&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');
.brandname {
  font-family: 'Monoton', cursive;
  text-decoration: none;
}

.lexend-exa {
  font-family: 'Lexend Exa', sans-serif;
  font-optical-sizing: auto;
  font-weight: 460;
  font-style: normal;
}

.oswald {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 470;
  font-style: normal;
}
